<!DOCTYPE html>
<html>
<head>
  <title>Cheeseboard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/mdl/material.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="stylesheets/index.css">
</head>

<body>

  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-color--teal-400">
      <div class="mdl-layout__header-row">
        <div class="mdl-layout-spacer"></div>
        <a class="mdl-navigation__link problem-submit-link" href="/new">Submit Problem</a>
      </div>
    </header>
    <div class="mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
      <span class="mdl-layout-title drawer-title">Cheeseboard</span>
      <nav class="mdl-navigation nav-sets">
      </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="page-content">

        <div class="mdl-grid">
          <p class="set-title" id="set-title">Set <span id="set-num">1</span><span id="set-subtitle"> by <span class="set-author">Eric Ferrante</span></span></p>
        </div>

        <div id="problems">
        </div>

      </div>
    </main>
  </div>

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="/mdl/material.min.js"></script>
  <script type="text/javascript" src="/javascripts/index.js"></script>

</body>
</html>
