<!DOCTYPE html>
<html>

<head>
  <title>APCS Final Review</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link type="text/css" rel="stylesheet" href="mdl/material.min.css"  media="screen"/>
  <link rel="stylesheet" href="stylesheets/new.css">
</head>

<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-color--teal-400">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Problem Submission Form</span>
        <div class="mdl-layout-spacer"></div>
        <a class="mdl-navigation__link" href="/">Return</a>
      </div>
    </header>
    <main class="mdl-layout__content">
      <div class="page-content">
        <div id="problems-wrapper">
          <div class="mdl-grid">
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
              <div class="mdl-card__supporting-text">
                <h4 class="mdl-color-text--blue-grey-700">Problem 1</h4>
              </div>
              <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col-desktop">
                  <div class="problem-field problem-0-field mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <textarea class="mdl-textfield__input" type="text" rows= "6" id="problem-0-input" ></textarea>
                    <label class="mdl-textfield__label">Write your problem here:</label>
                  </div>
                </div>
                <div class="mdl-cell mdl-cell--12-col-desktop">
                  <div class="solution-field solution-0-field mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <textarea class="mdl-textfield__input" type="text" rows= "6" id="solution-0-input" ></textarea>
                    <label class="mdl-textfield__label">Enter your solution here (Enter tabs as 4 spaces):</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="mdl-layout-spacer"></div>
          </div>
        </div>

        <div class="mdl-grid">
          <div class="mdl-layout-spacer"></div>
          <div class="form-controls-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-card__actions mdl-card--border mdl-color--teal-400">
              <a href="#" class="submit-problems-btn mdl-button mdl-js-button mdl-js-ripple-effect">Submit</a>
            </div>
          </div>
          <div class="mdl-layout-spacer"></div>
        </div>
      </div>
    </main>
  </div>

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="mdl/material.min.js"></script>
  <script type="text/javascript" src="/javascripts/new.js"></script>

</body>

</html>