.drawer-title{
    padding-top: 60px;
}

.card-head{
    padding-top: 70px;
}

.section-title{
    margin-right: 20px;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link{
    color: #CFD8DC;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover{
    background-color: #26A69A;
    color: #37474F;
    cursor: pointer;
}

.mdl-card__actions a {
  color: #00BCD4;
  text-decoration: none;
}

.solution-text{
    display: none;
}

.set-title{
    font-size: 36px!important;
    margin-left: 5px;
    margin-top: 40px;
    margin-bottom: 15px;
    font-weight: 300;
    color: black;
}

#set-subtitle{
    font-size: 24px!important;
    font-weight: 300;
    color: grey;
}

.section-title:hover{
    cursor: pointer;
}

.edit-problems-btn{
    margin-top: 30px;
    margin-left: 8px;
}

.mdl-menu__item{
    height:36px!important;
    line-height: 36px!important;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}


.problem-text{
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
